:root {
  --lightgreen: hsl(148, 38%, 91%);
  --mediumgreen: hsl(169, 82%, 27%);
  --red: #d73c3c;
  --white: hsl(0, 0%, 100%);
  --mediumgrey: hsl(186, 15%, 59%);
  --darkgrey: #2b4246;
}
@font-face {
  font-family: "karla-bold";
  src: url("./fonts/static/Karla-Bold.ttf");
}
@font-face {
  font-family: "karla-regular";
  src: url("./fonts/static/Karla-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  background-color: var(--lightgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-container {
  width: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  height: auto;
  margin: 50px 200px;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
}

h1 {
  font-family: karla-bold;
}
.name-container,
.radio-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
.first-name {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 100%;
  font-family: karla-regular;
}
input {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  outline: none;
  border-color: transparent;
  border: 1px solid var(--mediumgrey);
}
.email {
  margin-top: 1rem;
  width: 100%;
}
.email input {
  width: calc(100% - 2rem);
}
.radio-container {
  /* width: calc(100% - 38px); */
  justify-content: space-between;
  font-family: karla-regular;
  position: relative;
}

.radio-input {
  border: 1px solid var(--mediumgrey);
  padding: 2px 20px 15px;
  width: 50%;
  margin-right: 2rem;
  border-radius: 0.5rem;
}
.radio-input:hover {
  border-color: var(--mediumgreen);
  cursor: pointer;
}
.radio-error {
  position: absolute;
  top: 50px;
}
.query-text {
  font-family: karla-regular;
  margin-top: 1rem;
}
#msg-input {
  padding: 4px 8px 6rem;
}
#label {
  margin-top: 2rem;
}
.checkbox {
  margin-top: 1rem;
  font-family: karla-regular;
}
.checkbox input {
  margin-right: 1rem;
}
.checkbox label:hover {
  cursor: pointer;
}
button {
  margin-top: 2rem;
  width: calc(100% - 2rem);
  padding: 1.2rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--mediumgreen);
  font-family: karla-bold;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}
button:hover {
  background-color: rgb(8, 49, 36);
}
input:hover {
  border: 2px solid var(--mediumgreen);
  cursor: pointer;
}
.alert-msg {
  width: 600px;
  padding: 2.5rem;
  background-color: rgb(8, 49, 36);
  color: var(--white);
  border-radius: 1rem;
  position: absolute;
  top: 10px;
  animation: my-alert 0.5s;
  display: none;
  position: fixed;
  z-index: 2;
}
.success-msg-container {
  display: flex;
  align-items: center;
  font-family: karla-bold;
  font-size: 20px;
}
.success-msg-container svg {
  width: 35px;
  color: var(--white);
  fill: var(--white);
  margin-right: 0.5rem;
  animation: my-svg ease 3s;
}
.alert-msg p {
  margin-top: 1rem;
  font-family: karla-regular;
  font-size: 1rem;
}
@keyframes my-alert {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(10px);
  }
}
@keyframes my-svg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadingaway {
  from {
    opacity: 1;
  }
  to {
    opacity: 2;
  }
}
.error {
  color: var(--red);
  margin-top: 1rem;
  display: none;
}

@media (max-width: 768px) {
  .name-container,
  .radio-container {
    flex-wrap: wrap;
  }
  .radio-input {
    width: 100%;
    margin-bottom: 1rem;
  padding: 2px 10px 12px;

  }
  input {
    padding: 0.8rem;
  }
  .radio-error{
    top:120px
  }
  #last{
    margin-top: 20px;
  }
  #label{
    margin-top: 20px;
  }
  .alert-msg{
    width: 400px;
  }
  .success-msg-container {
    font-size: 1rem;
  }
  .success-msg-container svg {
  width: 25px;}
  .alert-msg p{
    font-size: .8rem;
  }
  .checkbox{
    font-size: .9rem;
  }
  .checkbox input{
    margin-right: 7px;
  }
}
