:root {
  --lightgreen: hsl(148, 38%, 91%);
  --mediumgreen: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --mediumgrey: hsl(186, 15%, 59%);
  --darkgrey: hsl(187, 24%, 22%);
}
@font-face {
  font-family: "karla-bold";
  src: url("./fonts/static/Karla-Bold.ttf");
}
@font-face {
  font-family: "karla-regular";
  src: url("./fonts/static/Karla-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  background-color: var(--lightgreen);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  height: auto;
  margin: 100px 200px;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
}

h1 {
  font-family: karla-bold;
}
.name-container,
.radio-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
.first-name {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 100%;
  font-family: karla-regular;
}
input {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  outline: none;
  border-color: transparent;
  border: 1px solid var(--mediumgrey);
}
#email {
  margin-top: 1rem;
  width: 100%;
}
#email input {
  width: calc(100% - 2rem);
}
.radio-container {
  /* width: calc(100% - 38px); */
  justify-content: space-between;
  font-family: karla-regular;
}

.radio-input {
  border: 1px solid var(--mediumgrey);
  padding: 2px 20px 15px;
  width: 50%;
  margin-right: 2rem;
  border-radius: 0.5rem;
}
.query-text {
  font-family: karla-regular;
  margin-top: 1rem;
}
#msg-input {
  padding: 4px 8px 6rem;
}
